# RND 320-KA3305P Power Supply

SUBSYSTEM=="tty", ATTRS{idVendor}=="0416", ATTRS{idProduct}=="5011", MODE="0666", GROUP="dialout", SYMLINK="ttyPowerSupply"
